/*
 Print stylesheet.
*/
@page {
  margin: 15mm 10mm 15mm 10mm;
}

.container {
  width: auto;
  margin: 0.25em;
}

.row {
  width: 100%;
}

.row,
.thumbnails {
  margin-left: 0;
}

[class*="col-md"],
.row [class*="col-md"] {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-16, #IE6 .row .col-md-16 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-15, #IE6 .row .col-md-15 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-14, #IE6 .row .col-md-14 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-13, #IE6 .row .col-md-13 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-12, #IE6 .row .col-md-12 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-11, #IE6 .row .col-md-11 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-10, #IE6 .row .col-md-10 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-9, #IE6 .row .col-md-9 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-8, #IE6 .row .col-md-8 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-7, #IE6 .row .col-md-7 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-6, #IE6 .row .col-md-6 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-5, #IE6 .row .col-md-5 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-4, #IE6 .row .col-md-4 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-3, #IE6 .row .col-md-3 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-2, #IE6 .row .col-md-2 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

#IE6 .col-md-1, #IE6 .row .col-md-1 {
  float: none;
  display: block;
  width: auto;
  margin-left: 0;
}

.navbar, .sidebar-nav, .breadcrumb, .icon, .control, .btn, .carousel-control, .printShare, .resultsHeader, .pagination, #lang, footer {
  display: none;
}

.carousel img {
  max-width: 200px;
  float: left;
}

.carousel-caption {
  clear: both;
}

.carousel {
  overflow: hidden;
  *zoom: 1;
}
.carousel .item {
  display: block;
}

.month-filter {
  display: none;
}
