//* The general rule is that the styles from here will not be needed for the CMS editor.
//* Styles related to content editing should go into typography.[s]css.

//* *** ATTENTION SCSS DEVELOPER ***
//*
//* If you are working with SCSS, please do not import other top-level 
//* stylesheets here such as typography.scss. We want to be able to generate 
//* clean CSS for the third-party dev to work with directly, without duplication 
//* of css in the generated files!


// Import needed scss files. Bootstrap files require the bootstrap module in the themes directory
@import "compass/support"; //import an external compass library for IE9 SVG gradient support 
$experimental-support-for-svg: true; //for IE9 SVG gradient support 

@import 'bootstrap_config/bootstrap.scss'; //Core bootstrap layout components
@import 'components/forms'; //form specific scss
@import 'components/navigation'; //navigation components
@import 'components/carousel'; //carousel components
@import 'components/mobile'; //mobile specific adjustments
@import 'components/sitemap'; //sitemap specific scss
@import 'components/results'; //search results specific scss




/*****************************
THEME LAYOUT
******************************/

/* todo: this is a workaround for responsive.css including padding: 20px coming from module_bootstrap */
body {
	padding: 0 !important;
}

/*HEADER */
header {
	.brand {
		#IE6 &,
		#IE7 & {
			width: 30%;
		}
		font-size: 1.71428571em;
		font-weight: 400;
		overflow:visible;
		line-height:1em;
		margin-top: $grid-y*4;
		padding-bottom: 18px;
		margin-bottom: 0;
		text-transform: uppercase;
		a {
			display: block;
			span {
				display: block;
				margin-top: $grid-y*2;
			}
			&:visited {
				color: black;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	.nav-section {
		background-color: $brand-secondary;
	}

	#lang {
		float: right;
		margin-top: $grid-y*2;
		padding-right: $grid-x*2;
		#IE6 &,
		#IE7 & {
			width: 20%;
			text-align: right;
		}

		small {
			display: inline;
		}
	}

	/* Customise search field */	
	.search-form {
		margin-top: $grid-y*4;
		margin-right: $grid-x*-4;
		.search-query {
			@extend small;
			color: $gray-light;
			border: none;
			border-bottom: 1px solid $gray-light;
			background-color: $brand-secondary;
			@include transition(all 200ms linear);
			@include noShadow;
			&:focus {
				@include transition(all 200ms linear);
				background-color: #f9f9f9;
				color: $gray;
				border-color: $brand-secondary;
			}
		}
		.input-group-btn {
			.btn-default {
				background-color: $brand-secondary;
				border: none;
				padding: 3px $grid-x*2;
				padding-right: 0;
				i {
					font-size:1.1em;
				}
				&:hover i {
					color: $brand-primary;
				}
			}
		}
	}
}

/************************ MISC ****************************/

// Gives full width - no margin element
.box-element {
	margin: 0 $grid-x*-4;
	background-color: $brand-secondary;
}


.layout { //Needed to override typography styles
	
	.breadcrumb {
		background-color: transparent;
		padding: $grid-y*2 0;
		margin-bottom: 0;
		margin-top: 16px;
		> li {
			margin-left: -$grid-x*2;
			&.first {
				margin-left: 0;
			}
		}
		> li:before {
			content: '';
		}
		> li:after {
			content: "/";
			padding: 0 5px;
			color: #cccccc;
		}
	}

	p.last-edited, p.printShare {
		margin: 1em 0;	
	}
	p.printShare {
		@extend .clearfix;

		button {
			background: none;
			padding: 0;
			border: 0;
			font-size: 1em;
			font-weight: 300;
			line-height: 1.4em;
			height: 1.4em;
			vertical-align: baseline;
			color: $link-color;

			&:focus, &:hover {
				text-decoration: none;
				color: $link-hover-color;
			}

			&:focus {
				outline: 1px dotted black;
			}
		}

		a, button {
			padding: 2px 4px;
			margin-left: 18px;
			display: inline-block;
			#IE7,
			#IE8 {
				display: inline;
				zoom:1;
			}

			&:first-child {
				border-left: none;
				padding-left: 0;
			}
			&.pdf {
				padding-left: $grid-x*4;
				background-position: 2px 1px;
			}
		}
	}
}

figure.featured-image {
	float: right;
	margin-left: 13px;
}

iframe {
	border: 0;
}

.feature-one {
	margin-bottom: $grid-y*8;
}

footer {
	background-color: $gray-dark;
	padding: $grid-y*6 0 $grid-y*4;
	a {
		display: block;
		color: $gray-lighter;
		font-weight: 300;
		&:hover {
			color: $gray-light;
			text-decoration: none;
		}
	}
	.nav {
		color: $gray-lighter;
		font-weight: 300;
		margin-bottom: $grid-y*4;
		> li > a {
			padding: 0 $grid-x*2;
			display: inline;
			&:hover {
				background-color: transparent;
			}
			&.first {
				padding-left: 0;
			}
		}
	}
	.footer-logo {
		margin-bottom: $grid-y*4;
		@include clearfix;
	}
	
	/* Facebook and Twitter links */
	.socialLinks {
		a {
			margin-bottom: $grid-y*4;
			&:before {
				font-size:1.5em;
				margin-right: 0.3em;
				color: $gray-light;
			}
		}
	}

	.footer-copyright {
		color: $gray-light;
		p {
			margin: 0;
		}
	}
}



/*Helper classes to customise icons*/
.icon-dark{
	color: $text-color;
	&:visited{
		color: $text-color;
	}
	&:hover{
		color: $link-hover-color;
		text-decoration: none;
	}
} 
.icon-small{
	font-size:1em;
}


/*Fixes for all media sizes*/
@include mediaSizes;


/*IE6 bootstrap fixes*/
#IE6 {
	.col-md-15
	.col-md-14
	.col-md-13
	.col-md-12,
	.col-md-11,
	.col-md-10,
	.col-md-9,
	.col-md-8,
	.col-md-7,
	.col-md-6,
	.col-md-5,
	.col-md-4,
	.col-md-3,
	.col-md-2,
	.col-md-1 {
		float: left;
		margin-left: $grid-x*4;
	}
}

/**
 * Fix the responsive design's image-with-max-width-disappearing-on-float-right in IE8.
 * http://www.456bereastreet.com/archive/201202/using_max-width_on_images_can_make_them_disappear_in_ie8/
 */
#IE8 .pull-right img {
	max-width: none;
}

/**
 * EventPage and NewsPage - update information
 */
.typography .update-information {
	#IE6 & {
		padding-bottom: $grid-y*8;
	}

	dl {
		margin: 0;
		padding: 0 $grid-x*4;
	}

	dt {
		margin-top: 10px;
		font-weight: 400;
		text-transform: uppercase;
		color: $brand-primary;
	}

	dd {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
		font-weight: 300;
	}

	ul.update-tags {
		overflow: auto;
		margin: 8px 0;
		
		li {
			float: left;
			margin: 0 3px 3px 0;
		}
	}
}

/**
 * EventHolder and NewsHolder.
 */
.typography .month-filter {
	h6.year {
		display: block;
		float: left;
		padding: $grid-y 0;
		margin-right: $grid-x*2;
		font-weight: 300;
		margin-top: 2px;
		margin-bottom: $grid-y*2;
	}
	ol {
		margin: 0;
		> li > a {
			padding: 5px 10px;
		}
	}
	.nav-pills > li.active > a {
		background-color: $gray-lighter;
		color: $brand-tertiary;
	}
}

.sidebar-nav {
	#IE6 & {
		padding-bottom: $grid-y*8;
	}
	div.field {
		.field-note {
			clear: both;
			font-style: italic;
			font-size: 0.9em;
			max-width: 170px;
			color: $gray-light;
		}
		input, select {
			#IE6 & {
				height: 20px;
			}
		}
	}

	.Actions {
		#IE8 & {
			filter: none;
		}
	}
	.message {
		margin: $grid-y*2;
	}
}

.HomePage .resultsList {
	article {
		padding: $grid-y*3 0;
		border-top: 1px solid $gray-lighter;
		border-bottom: none;
		&.first {
			padding-top: $grid-y*3;
		}
		&.last {
			border-bottom: 1px solid $gray-lighter;
		}
		&.even {
			background-color: transparent;
		}
		header {
			padding: 0;
			h3 {
				margin-bottom: 0;
			}
		}
	}
}

/**
 * Registry page
 */
.resultActions {
	clear: both;

	a {
		display: block;
	}
}

/**
 * Blog module
 */
#BlogContent {
	#Sidebar {
		h3 {
			color: #666666;
			font-size: 11px;
			text-transform: uppercase;
			line-height: 18px;
			margin: 0;
			padding: 0 14px;
		}

		ul {
			list-style: none outside none;
			margin: 0;
			padding-left: $grid-x*3;
			padding-right: $grid-x*3;

			li {
				a {
					padding: 3px $grid-x*3;
					margin-left: $grid-x*-3;
					margin-right: $grid-x*-3;
					text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
					display: block;

					&:hover {
						background-color: #eee;
						text-decoration: none;
					}

					&.active {
						background-color: #0464EA;
						color: white;
						text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
					}
				}
			}
		}

		.tagcloud {
			margin: 0 14px;
			line-height: 1.8em;
		}
	}
}

/**
 * Comments
 */
#comments-holder {
	div.field {
		clear: left;
	}

	.comments-holder {
		li.comment {
			list-style-type: none;
			padding: $grid-y;
			&.odd {
				background: #eee;
			}
			&.unmoderated {
				border: 2px dashed grey;
			}

			ul.action-links {
				li {
					list-style-type: none;
					display: inline;
					margin-right: $grid-x*3;
					&:last-of-type {
						margin-right: 0;
					}
				}
			}
		}
	}
}


/**
 * Accessibility Skiplinks for screen readers, allow users to bypass 
 * content recurring on every page to access the menu 
 * or the content directly additionally for regular users by using tab
 * - skiplinks are hidden with the Bootstrap .sr-only class.
 */

.skipLinks a { 
	
	&:focus, &:active { 
		display: inline-block; 
		position:static; 
		width:auto; 
		height:auto; 
	} 
}