 // Core bootstrap responsive components
@import 'bootstrap_config/responsive.scss'; 

/*****************************
THEME REPONSIVE STYLES
******************************/

// Refer to the available screen sizes in _bootstrap_config/custom/_variables.scss


// Phone only
@media (max-width: $screen-xs-max) {
	.search-form {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

// Tablet only
@media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
}

// Phone and Tablets only
@media (max-width: $screen-sm-max) {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
	.carousel {
		.carousel-inner a {
			text-decoration: none;
		}
		.carousel-caption {
			position: static;
			bottom: auto;
			left: auto;
			right: auto;
			background-color: $brand-primary;
		}
		.carousel-interface {
			right: $grid-x*4;
		}
		.carousel-indicators {
			.carousel-control.active {
				background-color: #fff;
				border-color: #fff;
			}
		}
	}
	//HEADER
	header {
		.brand {
			img {
				margin-right: $grid-x*2;
			}
			a span {
				display: inline-block;
			}
		}
		.nav-section {
			position: relative;
		}
		.search-form {
			margin-top: $grid-y*2;
			margin-bottom: $grid-y*2;
			position: absolute;
			top: $grid-y*2;
			left: 0;
			z-index: $zindex-popover;
			width: 80%;
			.search-query {
				font-size: 1.2em;
				height: $grid-y*7;
				border: none;
			}
		}
	}
	//NAVIGATION
	.navbar {
		margin: 10px 0;
		span.showChildren { 
			margin-top: 0;
			right: 9px;
		}
		.dropdown.open {
			.dropdown-menu {
				width: 100%;
				padding: 0;
				border: none;
				float: none;
				box-shadow: none;
				position: relative;
				background-color: transparent;
				> li > a {
					padding: 10px 30px;
					&:hover {
						background-color: transparent;
					}
				}
			}
		}
		.navbar-toggle {
			border: none;

			&:hover {
				background-color: transparent;
			}
			.icon-bar {
				background-color: $brand-primary;
				height: 4px;
				width: 25px;
				& + .icon-bar {
					margin-top: 3px;
				}
			}
			&.collapsed {
				.icon-bar {
					background-color: $gray-dark;
				}
			}
		}
	}
	.navbar-responsive-collapse {
		margin-top: 50px;
		border-top: none;
		.navbar-nav {
			margin-top: 10px;
			padding-left: 5px; //to align nav with the searchbar placeholder.
		}
	}
	.socialLinks {
		margin-top: $grid-y*4;
	}
	.sidebar-nav {
		margin-top: $grid-y*4;
	}
}

// Tablets & small desktops only
@media (min-width: $screen-xs) and (max-width: $screen-md-max) {
	.layout {
		padding-left: 15px;
		padding-right: 15px;
		.row {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}

// Phones / Tablets and Small Desktops
@media (max-width: $screen-md-max) {
	//NAVIGATION
	.no-js {
		.navbar button.btn-navbar {
			display: none;
		}
	}
}

// Tablets / Desktop / Large Desktop
@media (min-width: $screen-sm) {

}


