 // Core bootstrap responsive components
@import 'bootstrap_config/responsive.scss'; 

/*****************************
THEME REPONSIVE STYLES
******************************/

// Refer to the available screen sizes in _bootstrap_config/custom/_variables.scss


// Phone only
@media (max-width: $screen-xs-max) {
	.search-form {
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

// Tablet only
@media (min-width: $screen-xs) and (max-width: $screen-sm-max) {
	.search-form {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

// Phone and Tablets only
@media (max-width: $screen-sm-max) {
	.carousel {
		.carousel-inner a {
			text-decoration: none;
		}
		.carousel-caption {
			position: static;
			bottom: auto;
			left: auto;
			right: auto;
			background-color: #333;
		}
	}

	//NAVIGATION
	.navbar {
		span.showChildren { 
			margin-top: 0;
			right: 23px;
		}
		.dropdown.open {
			.dropdown-menu {
				width: 100%;
				border: none;
				float: none;
				box-shadow: none;
				position: relative;
			}
		}
	}
	.navbar-responsive-collapse {
		margin-top: 50px;
		.navbar-nav {
			margin-top: 0;
		}
	}
}

// Tablets & small desktops only
@media (min-width: $screen-xs) and (max-width: $screen-md-max) {
	.layout {
		padding-left: 15px;
		padding-right: 15px;
		.row {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}

// Phones / Tablets and Small Desktops
@media (max-width: $screen-md-max) {
	//NAVIGATION
	.no-js {
		.navbar button.btn-navbar {
			display: none;
		}
	}
}

// Tablets / Desktop / Large Desktop
@media (min-width: $screen-sm) {

}


