/**
 * Typography related stylesheet.
 *
 * This stylesheet needs to safely apply to CMS editor. Prefix all entries here
 * with .typography class. If the style is not typography-related, it needs to
 * go into another file - for example layout.[s]css
 *
 */




/*****************************
THEME TYPOGRAPHY 
******************************/

@import 'bootstrap_config/typography.scss';

.typography {
	font-family: $font-family-sans-serif;
	
	/* EMs font sizing */
	
	small {
		font-size: 0.85714286em;
		font-weight: 300;
	}

	small.tip {
		font-style: italic;
	}

	h6,
	h5,
	h4 {
		font-size: 1.07142857em;
		font-weight: 400;
	}

	h3 {
		font-size: 1.28571429em;
		font-weight: 300;
	}

	h2 {
		font-size: 1.57142857em;
		font-weight: 300;
	}

	h1 {
		font-size: 2.14285714em;
		font-weight: 400;
	}

	h6,
	h3 {
		color: #666666;
	}

	h5,
	h4,
	h2,
	h1 {
		color: $brand-primary;
	}

	h1 {
		&.page-header {
			margin-top: $grid-y;
			font-weight: 300;
			text-transform: uppercase;
			border-bottom: none;
		}
	}
	p {
		margin-bottom: $line-height-base;
		font-size: $font-size-base;
		line-height: $line-height-base;
		font-weight: 300;
	}
	a {
		@include transition(all 200ms linear);
		&:focus {
			outline: none;
		}
		&:hover img, &:focus img{
			border: 1px solid $link-color;
		}
		&:hover {
			text-decoration: none;
			@include transition(all 200ms linear);
		}
	}
	.metaInfo {
		margin-bottom: $line-height-base/2; 
		color: $gray;
	}

	/* Highlighting for search results titles and content snippets. */
	span.highlight {
		background: $table-bg-hover;
	}

	// Quotes
	blockquote {
		// Blockquote-author available from the STYLES dropdown in the editor
		small, .blockquote-author {
			font-size: 85%;
			color: $blockquote-small-color;
		    display: block;
		    line-height: $line-height-base;
		    &:before {
				content: '\2014 \00A0';// EM DASH, NBSP
	    	}
		}
	}
	// Quotes
	q:before,
	q:after {
		content: "";
	}

	/*** FILE & LINK ICONS ***/
	a:before,
	button:before {
		margin-right: 0.2em;
	}

	.fileExt{
		font-size: 0.8em;
	}
	
	/* EXTERNAL LINKS - we need to add custom styles here as we are adding the icon as an :after pseudo element not a :before */
	a[href^="http://"]:after,
	a[href^="https"]:after {
		content: "\e01c";
		font-family: 'flat-icon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font-size: 0.6em;
		position:relative;
		bottom:0.4em;
	}

	a[href^="https"] {
		@extend .flat-icon-lock; // adding a padlock to secure links - still has the external link icon :after as well.
	}

	/* ANCHOR LINKS */
	a[href*="#"]:after,
	a[href*="#"]:after {
		content: "\f13d";
		font-family: 'flat-icon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		font-size: 0.6em;
		position:relative;
		bottom:0.4em;
	}
	
	/* FILE LINKS */
	a[href$=".doc"],
	a[href$=".DOC"],
	a[href$=".docx"],
	a[href$=".DOCX"] {
		@extend .flat-icon-file;
		&:after { //Override the external link styling
			content: '';
		}
	}
	a[href$=".xls"],
	a[href$=".XLS"],
	a[href$=".xlsx"],
	a[href$=".XLSX"] {
		@extend .flat-icon-excel;
		&:after { //Override the external link styling
			content: '';
		}
	}
	a[href$=".gz"],
	a[href$=".GZ"],
	a[href$=".gzip"],
	a[href$=".GZIP"],
	a[href$=".zip"],
	a[href$=".ZIP"] {
		@extend .flat-icon-zip;
		&:after { //Override the external link styling
			content: '';
		}
	}
	a[href$=".exe"],
	a[href$=".EXE"] {
		@extend .flat-icon-browser;
		&:after { //Override the external link styling
			content: '';
		}
	}
	
	a[href$=".pdf"],
	a[href$=".PDF"] {
		@extend .flat-icon-pdf;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* EMAIL LINKS */
	a[href^="mailto:"] {
		@extend .flat-icon-envelope;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* PHONE LINKS */
	a[href^="tel:"] {
		@extend .flat-icon-phone;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* RSS LINKS */
	a[href$=".rss"],
	a[href$="rss.xml"],
	a[href*="/feed/"],
	a[href*="/rss/"],
	a[href*="/rss"],
	a[href*="/changes"] {
		@extend .flat-icon-feed;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* IMAGE LINKS */
	a[href$=".jpg"],
	a[href$=".jpeg"],
	a[href$=".png"],
	a[href$=".gif"] {
		@extend .flat-icon-images;
		&:after { //Override the external link styling
			content: '';
		}
	}
	
	/* VIDEO LINKS */
	a[href*="vimeo.com"],
	a[href*="youtube.com"],
	a[href*="ustream.tv"],
	a[href*="vevo.com"] {
		@extend .flat-icon-youtube;
		&:after { //Override the external link styling
			content: '';
		}
	}
	
	/* PRINT BUTTON */
	button[onclick*="window.print"] {
		@extend .flat-icon-print;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* SHARE LINKS */
	a[href*="addthis.com"] {
		@extend .flat-icon-export;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* MAPS LINKS */
	a[href*="maps.google"],
	a[href*="wises.co.nz"],
	a[href*="maps.yellow"],
	a[href*="maps.yahoo"] {
		@extend .flat-icon-location;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* GOOGLE LINKS */
	a[href*="www.google"] {
		@extend .flat-icon-google;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* FACEBOOK LINKS */
	a[href*="facebook.com"] {
		@extend .flat-icon-facebook;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* TWITTER LINKS */
	a[href*="twitter.com"] {
		@extend .flat-icon-twitter;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* GITHUB LINKS */
	a[href*="github.com"] {
		@extend .flat-icon-github;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* INSTAGRAM LINKS */
	a[href*="instagram.com"] {
		@extend .flat-icon-instagram;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* LINKEDIN LINKS */
	a[href*="linkedin.com"] {
		@extend .flat-icon-linkedin;
		&:after { //Override the external link styling
			content: '';
		}
	}

	/* PINTEREST LINKS */
	a[href*="pinterest.com"] {
		@extend .flat-icon-pinterest;
		&:after { //Override the external link styling
			content: '';
		}
	}


	/* Media insert formatting  (Youtube embed) */
	.media.center{
		margin:0 auto;
		text-align:center;
	}
	.media.left{
		float:left;
		clear:left;
		margin: 0 18px 18px 0px;
	}
	.media.leftAlone{
		margin: 0 18px 18px 0;
		float: none;
		display: block;
		clear: both;
	}
	.media.right{
		float:right;
		clear:right;
		margin: 0 0 18px 18px;
	}
	
	
	/*** Image formatting ***/
	img{
		max-width: 100%;
		height: auto;

		&.right {
			float:right;
			clear:right;
			margin: 0 0 18px 18px;
		}
		&.left {
			float:left;
			clear:left;
			margin: 0 18px 18px 0px;
		}
		&.leftAlone {
			margin: 0 18px 18px 0;
			float: none;
			display: block;
			clear: both;
		}
		&.center {
			display:block;
			margin: 0 auto 18px auto;
			clear: both;
		}
	}
	.captionImage {
		width: 100%;
		max-width: 100%;

		&.left {
			float: left;
			margin: 0 18px 18px 0px;			
		}
		&.right{
			float:right;
			margin: 0 0 18px 18px;
		}
		&.leftAlone{
			float:none;
			margin: 0 18px 18px 0px;
		}
		&.center{
			margin: 0 auto 18px;
		}
		p {
			clear: both;
			margin: 8px 0;
			color: #444;
		}
		img {
			margin: 0 0 5px 0;
		}
	}

	table {
		@extend .table;
		
		// Bootstrap table styles available from the STYLES dropdown in the CMS editor
		&.table-condensed {		// Condensed table w/ half padding
			@extend .table-condensed;
			margin-left: 0;		// needed so it appears in editor styles dropdown 
		}
		&.table-bordered {		// Bordered version
			@extend .table-bordered;
			margin-left: 0;		// needed so it appears in editor styles dropdown 
		}
		&.table-striped {		// Zebra-striping
			@extend .table-striped;
			margin-left: 0;		// needed so it appears in editor styles dropdown 
		}
		&.table-hover {			// Hover states
			@extend .table-hover;
			margin-left: 0;		// needed so it appears in editor styles dropdown 
		}
		
		// Custom table combinations
		&.table-bordered-striped {
			@extend .table-bordered;
			@extend .table-striped;
		}
		&.table-condensed-striped {
			@extend .table-condensed;
			@extend .table-striped;
		}
		
		// Striped tables to allow hover state by default
		&.table-striped, &.table-bordered-striped {
			tbody tr:hover {
				td, th {
			      background-color: $table-bg-hover;
			    }
			}
		}
		
		caption {
			text-align: left;
			padding: 4px 0;
		}
		
		thead, tfoot, th {
			font-weight: 700;
		}
	}
	
	.linkSet {
		@extend .list-unstyled;
		border-bottom: 1px solid $gray-lighter;
		li a {
			display: block;
			padding: 15px 0;			
			border-top: 1px solid $gray-lighter;
		}
	}
	
	// Gives full width - no margin element
	.box-element {
		margin: 0 $grid-x*-4;
		background-color: $brand-secondary;
	}

	.heroUnit {
		@extend .box-element;
		border-radius: 0;
		padding: 20px;
		h1{
			margin-top: 0;
		}
	}
}
