// Carousel accessibility adjustments
// Bootstrap carousel-control links made into buttons
.carousel {
	a {
		border: none;
		background-color: transparent;
		color: #fff;
		opacity: 0.65;
		&.active {
			background-color: $link-color;
			opacity: 1;
		}

		&:hover, &:active, &:focus {
			opacity: 1;
			outline: none;
			text-decoration: none;
		}
	}
	
	.carousel-interface {
		position: absolute;
		bottom: 15px;
		right: 12.5%;
		z-index: 15;
		a.pause {

			&:after {
				content: '';
			}
		}
		a.carousel-control {
			position: static;
			display: inline;
			outline: none;
			border: 0px;
			font-size: 20px;
			background-image: none;
			width: 30px;
			&:after {
				content: '';
			}
		}

		.glyphicon {
			font-family: Glyphicons Halflings;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			text-decoration: inherit;
			position: static;
		}

		.carousel-indicators {
			float: left;
			margin-top: 8px;

			a {
				text-indent: -9999px;
			}
		}
	}
	.carousel-inner {
		a:hover img, a:focus img {
			border: none;
		}
	}
	
	// indicator pips
	.carousel-indicators {
		position: absolute;
		bottom: 15px;
		left: $grid-x*4;
		margin:0;
		height: auto;
		width: auto;
		
		.carousel-control {
			display: inline-block;
			width:  10px;
			height: 10px;
			top: 1px;
			text-indent: -9999px;
			border: 1px solid $carousel-indicator-border-color;
			border-radius: 10px;
			cursor: pointer;
			background-color: transparent;
			padding: 0;
			position: relative;
			margin-right: 7px;
			color: #000;
			text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
			z-index: 20;
			&.active {
				margin-right: 6px;
				width:  12px;
				height: 12px;
				background-color: $carousel-indicator-active-bg;
				border: 1px solid $brand-primary;
			}
			&:focus {
				outline: none;
			}
		}
	}
	
	// background color added for added accessibilty
	.carousel-caption {
		background-color: $brand-primary;
		padding-bottom: 50px;
		position: static;
		bottom: auto;
		left: auto;
		right: auto;
		text-align: left;
		h4 {
			color: #fff;
			text-transform: uppercase;
			font-weight: 300;
		}
	}
	.carousel-image {
		padding: 0;
	}
}