/*
* 	Customisations to the styling for main top navigation of sidemenu
*/

.navbar {
	margin-top: 31px;
	.navbar-nav {
		> li {
			> a {
				text-transform: uppercase;
				padding: $grid-y*2 $grid-x*3;
				// Make toggle click area bigger for fingers
				&.has-children {
					padding-right: 30px;
					.caret {
						margin-left: 0;
					}
				}
			}
			.dropdown-menu {
				border-top-width: 2px;
			}
		}
		> .dropdown {
			> a {
				.caret {
					border-top-color: $gray-light;
					border-bottom-color: $gray-light;
				}
			}
		}
		> .first a {
			padding-left: 0;
		}
	}
	span.showChildren { 
		position: absolute;
		padding-top: 4px;
		margin-top: 5px;
		width: 30px;
		height: 40px;
		top: 0;
		right: 0;
		text-align: center;
	}
	// inverts the caret when the dropdown is open
	.dropdown {
		&.open {
			.showChildren {
				.caret {
					border-top: 0 dotted;
					border-bottom-width: 4px;
					border-bottom-style: solid;
				}
			}
		}
	}
	// added a background color to menu toggle icon
	.navbar-toggle {
		.icon-bar {
			background-color: $navbar-default-link-color;
		}
		&:hover {
			.icon-bar {
				background-color: $navbar-default-link-hover-color;
			}
		}
	}
}

.nav > li > a {
	padding: 10px;
}

/* Side navigation */
.sidebar-nav {
	@extend .box-element;
	margin-bottom: $grid-y*4;
	padding-top:    $grid-y*3;
	padding-bottom: $grid-y*3;
	background-color: $navbar-default-bg;
	border-radius: $border-radius-base;
	h6,
	form {
		padding: 0 $grid-x*4;
	}
	.typography & h6 { //needs .typography to be overwritten
		color: $brand-primary;
		text-transform:uppercase;
	}
	.all-tags {
		margin: 12px 0;
		padding: 0 $grid-x*4;
	}
	.Actions {
		border-top: none;
	}
    .nav {	
    	> li {
    		> a {
	    		padding: $grid-y $grid-x*4;
	    		font-weight: 400;
	    		text-transform: uppercase;
	    		color: $brand-tertiary; 
	    		&:hover {
	    			color: $brand-primary;
	    		}
	    	}
    	}
    	.nav li { /* third level */
	    	a {
	    		padding-left: $grid-x*6;
	    		padding-right: $grid-x*6;
	    	}
			.nav li {  /* fourth level */
		    	a {
		    		padding-left: $grid-x*8;
		    		padding-right: $grid-x*8;
		    	}
				.nav li { /* fifth level */
			    	a {
			    		padding-left: $grid-x*10;
			    		padding-right: $grid-x*10;
			    	}
					.nav li { /* sixth level */
				    	a {
				    		padding-left: $grid-x*12;
				    		padding-right: $grid-x*12;
				    	}
				    }
			    }
		    }
	    }
	    a:hover, a.active {
	    	background-color: $navbar-default-link-active-bg;
	    }
	    .active > a {
	    	color: $navbar-default-link-active-color;
	    }
    }
}


